
<link rel="stylesheet" href="{{ asset('build/app.css') }}">
<link rel="stylesheet" href="{{ asset('sakura/sakura login.css') }}">
{% block title %}{% endblock %}

{% block body %}
<form class="form1" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="chouquette">
        <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connectez </h1>
        <label for="inputUsername">Identifiant</label>
        <input  type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
        <button class="myButto" type="submit">Se connecter</button>
        <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
    </div>
    <img class="chat" src="{{ asset('medias/images/t-shirt-jiji-hoodie-calcifer-studio-ghibli-black-cat-f66be189065f76fcc62a0dc58da6ea65.png') }}" alt="chat gibli">
</form>
<ul class="sakura">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
{% endblock %}
