

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}

        {{ form_label(registrationForm.username) }}
        {{ form_widget(registrationForm.username) }}
        {{ form_label(registrationForm.PlainPassword) }}
        {{ form_widget(registrationForm.PlainPassword) }}
        {{ form_label(registrationForm.agreeTerms) }}
        {{ form_widget(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}

{% endblock %}
