
<div class="bgImg">
    <div class="form-contact">
        {{ form_start(form) }}
        {{ form_widget(form.sujet) }}
        <br>
        {{ form_label(form.date) }}
        {{ form_widget(form.date) }}
        <br>
        {{ form_widget(form.message) }}
        <br><br>
        {{ form_widget(form.statut) }}
        <br><br>
        <button type="submit" class="btn">Valider</button>
        {{ form_end(form) }}
    </div>
</div>



