<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue !{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>
    <body>
    <div class="menu">
        <nav>
            <ul>
                <li><a href="#">Menu</a></li>
                <li><a href="{{ path('app_dino') }}">Jeux</a></li>
                <li><a href="{{ path('app_login') }}">Login</a></li>

                <li><a href="#">A Propos</a></li>
            </ul>
        </nav>
        <img src="{{ asset('medias/images/t-shirt-catbus-studio-ghibli-totoro.png') }}" alt="totoro.png" id="totoroAcceuil">
        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
    </div>
    <hr id="ligneNav">
        {% block body %}

        {% endblock %}
    </body>
</html>
