<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('sakura/bubble.css') }}">
        <link rel="stylesheet" href="{{asset('sakura/bulle.css') }}">
        <link rel="stylesheet" href="{{ asset('cssLecteurMusic/music.css') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="menu">
            <nav>
                <ul>
                    <li><a  class="myButto" href="/auth">Menu</a></li>
                    <li><a   class="myButto" href="{{ path('app_accjeux') }}">Jeux</a></li>
                    <li><a class="myButto" href="{{ path('app_apropos') }}">A Propos</a></li>
                    <li><a  class="myButto" href="/contact">Contact</a></li>
                    <li><a class="myButto" href="{{ path('app_galerie') }}">Film ghibli</a></li>
                </ul>
            </nav>
        </div>
        <div class="logoconnect">
            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}
        </div>
        {% block body %}
            <div id="musicPlayer"></div>
        <main class="page-content">
            <div class="card">
                <div class="content">
                    <h2 class="title">Princesse monomoke</h2>
                    <p class="copy">On meurt tous un jour, petit, qu'on soit mendiant ou empereur.</p>
                    <a class="btn" href="{{ path('app_ghibli1') }}">Go</a>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2 class="title">Le voyage de chiro</h2>
                    <p class="copy">On n'oublie jamais les gens qu'on a rencontré, on a juste du mal à s'en souvenir.</p>
                    <a class="btn" href="{{ path('app_ghibli2') }}">Go</a>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2 class="title">Ponyo</h2>
                    <p class="copy">Moi, Ponyo je l'aimerais pour toujours. La Ponyo poisson, la Ponyo mi-poisson et mi-humaine.</p>
                    <a class="btn" href="{{ path('app_ghibli3') }}">Go</a>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2 class="title">Le chateaux ambulant</h2>
                    <p class="copy">Un cœur c'est lourd à porter</p>
                    <a class="btn" href="{{ path('app_ghibli4') }}">Go</a>
                </div>
            </div>
        </main>
            <img src="{{ asset('medias/images/bacacc.jpg') }}" alt="" class="backimg">
        <div id="background-wrap">
            <div class="bubble x1"></div>
            <div class="bubble x2"></div>
            <div class="bubble x3"></div>
            <div class="bubble x4"></div>
            <div class="bubble x5"></div>
            <div class="bubble x6"></div>
            <div class="bubble x7"></div>
            <div class="bubble x8"></div>
            <div class="bubble x9"></div>
            <div class="bubble x10"></div>
        </div>

            <script src="https://www.youtube.com/iframe_api"></script>
            <script>
                // Récupération de l'ID de la playlist
                const playlistId = 'PL8RksmSaOE0ihiwRqMAFbCSJlm2kSUAV7';

                // Chargement de l'API YouTube
                function loadYouTubeAPI() {
                    const tag = document.createElement('script');
                    tag.src = 'https://www.youtube.com/iframe_api';
                    const firstScriptTag = document.getElementsByTagName('script')[0];
                    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
                }

                // Initialisation du lecteur YouTube
                let player;
                function onYouTubeIframeAPIReady() {
                    player = new YT.Player('musicPlayer', {
                        height: '100',
                        width: '100',
                        playerVars: {
                            listType: 'playlist',
                            list: playlistId,
                            autoplay: 1,
                            shuffle: 1
                        },
                        events: {
                            'onReady': onPlayerReady,
                            'onStateChange': onPlayerStateChange
                        }
                    });

                    // Lorsque le lecteur est prêt, vérifier si l'état de lecture est en cours et le reprendre
                    function onPlayerReady(event) {
                        const storedState = localStorage.getItem('playerState');
                        if (storedState === YT.PlayerState.PLAYING.toString()) {
                            const storedTime = localStorage.getItem('currentTime');
                            if (storedTime) {
                                event.target.seekTo(parseFloat(storedTime));
                            }
                            event.target.playVideo();
                        }
                    }

                    // Lorsque l'état de lecture change, stocker l'état et la position de lecture dans le stockage local
                    function onPlayerStateChange(event) {
                        const state = event.data;
                        const currentTime = player.getCurrentTime();
                        localStorage.setItem('playerState', state);
                        localStorage.setItem('currentTime', currentTime);
                    }
                }

                // Chargement de l'API YouTube et initialisation du lecteur
                loadYouTubeAPI();
            </script>

        {% endblock %}


    </body>


</html>
