<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('sakura/bubble.css') }}">
        <link rel="stylesheet" href="{{asset('sakura/bulle.css') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="/auth">Menu</a></li>
                    <li><a href="#">Jeux</a></li>
                    <li><a >A Propos</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="{{ path('app_galerie') }}">Film ghibli</a></li>
                </ul>
            </nav>
        </div>
        <div class="logoconnect">
            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}
        </div>
        {% block body %}
        <main class="page-content">
            <div class="card">
                <div class="content">
                    <h2 class="title">Princesse monomoke</h2>
                    <p class="copy">On meurt tous un jour, petit, qu'on soit mendiant ou empereur.</p>
                    <a class="btn" href="{{ path('app_ghibli1') }}">Go</a>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2 class="title">Le voyage de chiro</h2>
                    <p class="copy">On n'oublie jamais les gens qu'on a rencontré, on a juste du mal à s'en souvenir.</p>
                    <a class="btn" href="{{ path('app_ghibli2') }}">Go</a>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2 class="title">Ponyo</h2>
                    <p class="copy">Moi, Ponyo je l'aimerais pour toujours. La Ponyo poisson, la Ponyo mi-poisson et mi-humaine.</p>
                    <a class="btn" href="{{ path('app_ghibli3') }}">Go</a>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2 class="title">Le chateaux ambulant</h2>
                    <p class="copy">Un cœur c'est lourd à porter</p>
                    <a class="btn" href="{{ path('app_ghibli4') }}">Go</a>
                </div>
            </div>
        </main>
        <img src="{{ asset('medias/images/bacacc.jpg') }}" alt="" class="backimg">
        <div id="background-wrap">
            <div class="bubble x1"></div>
            <div class="bubble x2"></div>
            <div class="bubble x3"></div>
            <div class="bubble x4"></div>
            <div class="bubble x5"></div>
            <div class="bubble x6"></div>
            <div class="bubble x7"></div>
            <div class="bubble x8"></div>
            <div class="bubble x9"></div>
            <div class="bubble x10"></div>
        </div>

        {% endblock %}
    </body>


</html>
